:root {
  --button-grey: rgba(155, 155, 155, 0.9);
  --border-green: rgba(79, 249, 0, 1);
  --seat-size: 8vw;
}

body {
  background-color: rgba(18, 30, 35, 1);
}

#teachersdesk {
  text-align: center;
  height: 20px;
}

#reset,
#random {
  border-radius: 6px;
  background-color: var(--button-grey);
}

#classroom {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seat {
  position: relative;
  border: 4px solid rgba(72, 120, 140, 1);
  border-radius: 15px;
  width: var(--seat-size);
  height: var(--seat-size);
  margin: 6px 6px;
  text-align: center;
  vertical-align: middle;
}

.seat:hover {
  border: 4px solid var(--border-green);
}

button {
  margin: 10px;
}

button:focus {
}
