:root {
  --button-grey: rgba(155, 155, 155, 0.9);
  --border-green: rgba(79, 249, 0, 1);
  --border-blue: rgba(72, 120, 140, 1);
  --background-black: rgba(18, 30, 35, 1);
  --light-blue: rgb(146, 193, 255);
  --dark-blue: rgb(61, 86, 230);
  --white: rgb(255, 255, 255);

  --teachers-desk-margin: 1vh;
  --teachers-desk-height: 5vh;
  --buttons-height: 5vh;
  --current-seat-color: #06d66e;
  --classH: 84vh;
  --flex-seat: calc(var(--classH) / 6);
  --seat-size: 6vw;
  --small-radius: 6px;
  font-size: 16px;
}

#root,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  color: var(--white);
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--flex-seat);
  height: var(--flex-seat);
  text-align: center;
  vertical-align: middle;
  box-shadow: inset 0px 0px 10px var(--light-blue);
  color: black;
  font-size: 3rem;
}

.seat:hover {
  box-shadow: inset 0px 0px 4px 2px black;
}

.topdiv {
  display: flex;
  justify-content: center;
}

.teachers-desk {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  font-size: 1.8em;
  width: calc(var(--flex-seat) * 2);
  height: var(--teachers-desk-height);
  border-radius: var(--small-radius);
}

#controlbox {
  width: var(--classH);
  margin: auto;
  height: var(--buttons-height);
}

.instructions {
  display: flex;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
}
